h1{
	background: red;
}


#nav_bar{
	display: block; 
	overflow: hidden;
	float: left;
}

#nav_bar ul{
	min-height: 60px;
	margin: 0;
	background-color: #000000;
	color: #ffffff; !important
}

#nav_bar li{
	display: block; 
	overflow: hidden;
	border-right: 4px solid #f44336; 
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	color: ##ffffff; !important	
}

#nav_bar li a{
	color: #ffffff;
	text-decoration: none;
}

#logo_div{
	display: block;
	overflow: hidden;
	float: left;
	max-width: 100px;
	
}

#header_div{
	display: block;
	overflow: hidden;
	background-color: #000000;
}

#footer_div{
	display: block;
	overflow: hidden;
	min-height: 90px;
	background-color: red;
	text-align: center;
	padding-top: 20px;
}

#content_div{
	min-height: 600px;
}

#header_img{
	display: block;
	overflow: hidden;
		background-color: red;
	text-align: center;
	background-image: ;
	padding-top: 5px;
}

#sponsor_div{
	display: block;
	overflow: hidden;
	margin: 0 auto;
}

.sponsor_img{
	display: block;
	overflow: hidden;
	max-width: 200px;
	float: left;
	margin-right: 10px;
	
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

